/* .winningNumber {
    background-color: green;
} */

.winningNumber {
    font-size: 50px;
}

.totalScore {
    font-size: 50px;
}

.scoreBoard {
    background-color: cyan;
}

.firstGem, .secondGem, .thirdGem, .fourthGem:hover {
    cursor: pointer;
}