body {
    background-color: darkgray;
}

h1 {
    color: white;
    font-size: 50px;
}

.text-left, .scoreBoard, .youWin {
    color: white;
}

.winningNumber {
    font-size: 50px;
}

.totalScore {
    font-size: 50px;
}

.youWin {
    font-size: 45px;
}

.firstGem, .secondGem, .thirdGem, .fourthGem:hover {
    cursor: pointer;
}